@import "./variables";


@mixin color($color){
    background-color: $color;
    display: flex;
}  

@mixin change_font_size($font) {
display: flex;
font-size: 60px;
}

@mixin smallFont($small) {
    font-size: 25px;
    display: flex;
    
}

@mixin right {
   display: flex;
   justify-content: flex-end;

}
@mixin hovergrey {
    background-color: rgb(155, 155, 155);
    display: flex;
    
    
}
@mixin center() {
    display: flex;
    justify-content: $center;
    
}



